appspec.yml merge=ours
bitbucket-pipelines.yml merge=ours
common_utilities/__init__.py merge=ours
project/templates/reset-success-inv.html merge=ours
project/templates/reset-success-str.html merge=ours
common_utilities/shell_cripts/after_deploy_supervisor_restart.sh merge=ours